@import "tailwindcss";

@theme {
	--set0-grey-0: #f2f3f5;	/*background*/
	--color-00-lightgrey: #f2f3f5;
	--color-00-orange: #ff861b;
	--color-00-grey: #666e81;
	--font-roboto: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

html,
body {
	@apply w-full h-full m-0 bg-[var(--color-00-lightgrey)] text-[16px] leading-[1.6] font-roboto;
}