---
import '../styles/global.css';
import Logo from '../assets/aex_logo.astro';
import LogoText from '../assets/aex_logo_text.astro';
import { Image } from 'astro:assets';
import ItemMenu from '../assets/item_menu.astro';
import HeroImage from '../assets/aex_hero_cover.png';
const pageTitle = "aectronix";
---

<html lang="en" class="www">

	<head>
		<title>{pageTitle}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	</head>

	<body class="main bg-00-lightgrey">

		<header class="header">
			<div class="header__inner container">
				<a href="#" class="header__brand" aria-label="aectronix home"><Logo /><LogoText /></a>
				<nav class="nav header__nav">
					<ul class="nav__list">
						<li class="nav__item"><a class="nav__link" href="#">home</a></li>
						<li class="nav__item"><a class="nav__link" href="#">services</a></li>
						<li class="nav__item"><a class="nav__link" href="#">about</a></li>
						<li class="nav__item"><a class="nav__link" href="#">blog</a></li>
						<li class="nav__item nav__item--lang"><a class="nav__link" href="#">en</a></li>
					</ul>
					<div class="header__burger">
						<ItemMenu />
					</div>
				</nav>
			</div>
		</header>

		<main>

			<section class="hero">
				<div class="hero__inner container">
					<div class="hero__layout">
						<div class="hero__motto">
							<h1 class="hero__headline">
								We&nbsp;are&nbsp;making construction&nbsp;digital again.&nbsp;Whatever.
							</h1>
						</div>
						<div class="hero__cta-wrapper">
							<a href="#" class="hero__cta">
								<span>Contact Us</span>
							</a>
						</div>
						<div class="hero__image-wrapper">
							<Image 
								src={HeroImage} 
								alt="Building Information Manager with a laptop" 
								class="hero__image" 
							/>
						</div>
							<div class="hero__description">
								<p>
									Utilizing BIM, VDC and digital approach, we help to transform AECO sector for better efficiency & outcomes
								</p>
							</div>
					</div>
				</div>
			</section>

		</main>

	</body>

</html>